body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
}

.card {
    width: 24%;
}

img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: left;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .card {
        width: 49%;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 99%;
    }
}