body {
    font-family: "Roboto", sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: gray solid 1px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1%;
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
    /* height: 75%; */
    aspect-ratio: 10 / 16;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 950px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    .container {
        grid-template-columns: 1fr;
    }
}