body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 80%;
    text-align: center;
    gap: 10%;
}

.card {
    border: 2px solid rgb(156, 155, 155);
    border-radius: 10px;
    box-shadow: 6px 6px 10px 1px rgb(191, 189, 189);
    overflow: hidden;
}

/* overflow: hidden ป้องกันการที่รูปล้นออกมาจาก card (หลังจากที่ border-radius ทำให้ขอบมน) */

.card img {
    width: 100%;
    /* aspect-ratio: 4/3; */
    object-position: center;
    object-fit: cover;
}

.card h1 {
    margin-bottom: 0;
}

a {
    color: black;
}