body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding-left: 4rem;
    padding-right: 8rem;
}

#navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

#navbar a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

#first-sec a:hover {
    background-color: rgb(167, 166, 166);
}


#second-sec a {
    background-color: rgb(25, 142, 42);
}

#second-sec a:hover {
    background-color: rgb(63, 189, 82);
}

#content {
    margin: 1.5rem;
}
