h1 {
    text-align: center;
}

body {
    font-family: "Google sans", sans-serif;
}

table {
    width: 600px;
    border-spacing: 3px;
}


th, td {
    width: 50px;
    height: 50px;
}

td {
    border: 1px solid black;
    text-align: center;
}

.out {
    color: crimson;
    background-color: lightblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}