body {
    font-family: "Google Sans", sans-serif;
}

div {
    margin: 20px;
}

#box {
    border: 2px black solid;
    width: 20%;
    padding: 10px;
    margin: 40px auto;
    text-align: left;
    box-shadow: 0 0 10px rgb(230, 230, 230);
    border: gainsboro 1px solid;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

button {
    background-color: rgb(57, 120, 214);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
}

input {
    width: 100%;
    height: 23px;
    border: gainsboro solid 1px;
    border-radius: 3px;
    margin-top: 5px;
}

