
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.top-desc {
    color: gray
}

.card {
    border-radius: 5px;
    width: 24%;
    border: 1px rgb(201, 201, 201) solid;
    box-shadow: -2px 4px 12px 3px rgba(0,0,0,0.2);
    padding: 10px;
}

.container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
/* flexbox ทำให้ทุก card มี height เท่ากัน อิงจาก height สูงสุด */

@media screen and (max-width: 700px) {
    .card {
        width: 100%;
    }
}
