body {
    margin: 0 0;
}

.nav {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 0;
    background-color: maroon;
    width: 100%;
    height: 7.5vh;
    font-family: "Eater", serif;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav:hover {
    background-color: rgb(156, 16, 16);
}