<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
        }
        tr {
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
    <!-- สร้างตารางสำหรับแสดงข้อมูล -->
    <!-- EJS Syntax -->
    <table>
        <% data.forEach((item)=>{ %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.name %></td>
            </tr>
        <% }); %>
    </table>

</body>
</html>