<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

<body>
    <!-- heaher -->
    <%- include("header") %>
    <!-- Content -->

    <!-- footer -->
    <%- include("footer") %>

</body>

</html>