<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        form {
        background: #ffffff;
        padding: 30px 40px;
        border-radius: 12px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
        width: 350px;
        }

        h1 {
            margin-bottom: 20px;
            text-align: center;
        }

        label {
            font-size: 14px;
            font-weight: 600;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 6px 0 15px 0;
            border-radius: 6px;
            border: 1px solid #ccc;
            transition: 0.3s;
            font-size: 14px;
        }

        input:focus {
            border-color: #4e73df;
            outline: none;
            box-shadow: 0 0 5px rgba(78, 115, 223, 0.3);
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background: #4e73df;
            border: none;
            border-radius: 6px;
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
        }

        input[type="submit"]:hover {
            background: #2e59d9;
        }
    </style>
</head>
<body>
    <%- include('nav') %>
    <div class="container">
        
    </div>

    <script>

    </script>
</body>
</html>