

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

#container {
    background-color: rgb(237, 234, 234);
    padding: 1rem;
    display: inline-block;
    width: fit-content;
}

#mainDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

#imgDiv {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainDiv img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

p {
    font-weight: bold;
}

a {
    color: black;
}