body {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    background-color: rgb(224, 218, 218);
    width: 80%;
    height: 100%;
    padding: 1rem;
    flex-direction: column;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    column-gap: 1rem;
    row-gap: 3%;
}

.card {
    border: 1px solid rgb(183, 181, 181);
    border-radius:6px;
    overflow: hidden;
    box-shadow: 6px 7px 0px 1px rgb(156, 155, 155);
}

.card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card a {
    display: block;
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: black;
}